.contact-title {}

.contact-topmap {
    margin-bottom: 10px;
}

.contact-sidemap {
    margin-bottom: 10px;
}

.contact-toptext {
    margin-bottom: 10px;
}

.contact-bottomtext {
    margin-bottom: 10px;
    margin-top: 10px;
}

.contact-sidetext {
    margin-bottom: 10px;
}

.contact-sidetext .thumbnail {
    padding: 10px;
}

.contact-form {
    padding: 5px 0;
    margin: 5px 0;
}

.contact-department-list {
    padding: 5px 0;
    margin: 5px 0;
}

#contact-social-items {
    font-size: 2.5em;
    text-align: center;
}

#contact-social-items a:hover {
    text-decoration: none;
}